<div class="userDashContainer">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo" href="/#/">CHECK IT</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="active"><a href="/#/userStats">DASHBOARD</a></li>
                    <li><a href="/#/storeStats">STORE STATS</a></li>
                    <li><a href="/#/tips">TIPS</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="serverStats row">
        <div class="welcome col s5">
            <p class="left-align">HELLO</p>
            <p class="center-align">{{userName}}!</p>
            <hr class="hr">
        </div>
        <div class="chartOne">
            <div class="userChart col s6 offset-s1">
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>
    <div class="try row col s12">
    <div class="col s2">
            <div class="topTitle">
                <h1>THE</h1> 
                <h1 class="top">TOP</h1>
                <h1 class="five">FIVE</h1>
                <p>* by avg. daily sales</p>
                </div>
        </div>

        <div class="col s2">
            <div class="avg">
                <h1>#1</h1> 
                {{avgArr[0].firstName}} {{avgArr[0].lastName}}
                </br>
                ${{avgArr[0].salesAvg}}</div>
        </div>
        <div class="col s2">
            <div class="avg">
                <h1>#2</h1> 
                {{avgArr[1].firstName}} {{avgArr[1].lastName}}
                </br>
                ${{avgArr[1].salesAvg}}</div>
        </div>
        <div class="col s2">
            <div class="avg">
                <h1>#3</h1> 
                {{avgArr[2].firstName}} {{avgArr[2].lastName}}
                </br>
                ${{avgArr[2].salesAvg}}</div>
        </div>
        <div class="col s2">
            <div class="avg">
                <h1>#4</h1> 
                {{avgArr[3].firstName}} {{avgArr[3].lastName}}
                </br>
                ${{avgArr[3].salesAvg}}</div>
        </div>
        <div class="col s2">
            <div class="avg">
                <h1>#5</h1> 
                {{avgArr[4].firstName}} {{avgArr[4].lastName}}
                </br>
                ${{avgArr[4].salesAvg}}</div>
        </div>
    </div>
    <div class="monthTitle row col s">
            <p>FIND OUT YOUR MONTHLY SALES AVG</p>
        </div>
    <div class="monthGraphRow row">
        <div class="bottomChart col s6 offset-s2">
            <div class="userChart2">
                <div id="chartdiv2"></div>
            </div>
        </div>
        <div class="dropIt col s2">
            <!-- Dropdown Trigger -->
            <a class='dropdown-button btn' data-activates='dropdown1'>MAY</a>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li ng-click="userDatabyMonth(Jan.firstday, Jan.lastday)"><a>January</a></li>
                <li ng-click="userDatabyMonth(Feb.firstday, Feb.lastday)"><a>February</a></li>
                <li ng-click="userDatabyMonth(Mar.firstday, Mar.lastday)"><a>March</a></li>
                <li ng-click="userDatabyMonth(Apr.firstday, Apr.lastday)"><a>April</a></li>
                <li ng-click="userDatabyMonth(May.firstday, May.lastday)"><a>May</a></li>
                <li ng-click="userDatabyMonth(Jun.firstday, Jun.lastday)"><a>June</a></li>
                <li ng-click="userDatabyMonth(Jul.firstday, Jul.lastday)"><a>July</a></li>
                <li ng-click="userDatabyMonth(Aug.firstday, Aug.lastday)"><a>August</a></li>
                <li ng-click="userDatabyMonth(Sep.firstday, Sep.lastday)"><a>September</a></li>
                <li ng-click="userDatabyMonth(Oct.firstday, Oct.lastday)"><a>October</a></li>
                <li ng-click="userDatabyMonth(Nov.firstday, Nov.lastday)"><a>November</a></li>
                <li ng-click="userDatabyMonth(Dec.firstday, Dec.lastday)"><a>December</a></li>
            </ul>
        </div>
    </div>
</div>
<script>
$('.dropdown-button').dropdown({
    inDuration: 300,
    outDuration: 225,
    constrain_width: false, // Does not change width of dropdown to that of the activator
    hover: true, // Activate on hover
    gutter: 0, // Spacing from edge
    belowOrigin: true // Displays dropdown below the button
});


$(".dropdown-content li a").click(function() {

    $(".btn").text($(this).text());
    $(".btn").val($(this).text());
});
</script>
