html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.loginContainer {
    height: 100%;
    width: 100%;
}

.storeLoginContainer {
    height: 100%;
    width: 100%;
}

.appName p {
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin: 0;
    font-size: 66px;
}

.LoginOptions p {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    margin: 0;
    font-size: 25px;
}

.loginForm {
    padding-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
/* label focus color */

.input-field input[type=text]:focus + label {
    color: red;
}
/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* label focus color */

.input-field input[type=email]:focus + label {
    color: red;
}
/* label underline focus color */

.input-field input[type=email]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* label focus color */

.input-field input[type=password]:focus + label {
    color: red;
}
/* label underline focus color */

.input-field input[type=password]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}


.brand-logo {
    padding-left: 20px;
} 
.nav-wrapper {
    background-color: white;
}
.nav-wrapper a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: black;
}

#UserReg-form,
#tipForm,
.storeStats {
    padding-top: 70px;
}

#staffList,
#tipList {
    padding-top: 70px;
}


.collapsible-header {
    font-size: 33px;
}




.welcome {
 padding-bottom: 60px;
 color : white;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 88px;
 background-color: red;
 background-size: 40% auto;
 margin-top: 60px;


}


.listWrap{
    counter-reset: my-counter;
   
}

.listWrap li {
    font-size: 30px;

}

.list:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-size: 50px;
    margin: 5px;
}

.bottomChart {
    
}

#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

.amcharts-export-menu-top-right {
    top: 10px;
    right: 0;
}

.amcharts-chart-div a {
    visibility: hidden;
}

#chartdiv2 {
    width: 100%;
    height: 500px;
    font-size: 11px;
}


#chartdiv3 {
    width       : 100%;
    height      : 500px;
    font-size   : 11px; 
    font-family:  'Josefin Sans', sans-serif;
}                                       
 


.dropdown-button {
    background-color: red;
}

.left-align {
    margin-top: 30px;
    margin-bottom: 0;
}

.center-align {
    margin-top: -60px;
    margin-bottom: 0px;

}

.hr {
    float: left;
    margin-top: -20px;
    width: 90%;
    border: 0;
    border-bottom: 2px dashed white;
    background: transparent;

}







