html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.loginContainer {
    background: url("86H.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.storeLoginContainer {
    height: 100%;
    width: 100%;
}

.appName p {
    padding-left: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0;
    font-size: 66px;
}

.LoginOptions p {
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0;
    font-size: 25px;
}

.loginForm {
    padding-left: 30px;
    padding-top: 40px;
   /* background-color: rgba(255, 255, 255, 0.5);*/
}
/* label focus color */

.input-field input[type=text]:focus + label {
    color: red;
}
/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* label focus color */

.input-field input[type=email]:focus + label {
    color: red;
}
/* label underline focus color */

.input-field input[type=email]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* label focus color */

.input-field input[type=password]:focus + label {
    color: red;
}
/* label underline focus color */

.input-field input[type=password]:focus {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}


.brand-logo {
    padding-left: 20px;
} 
.nav-wrapper {
    background-color: white;
}
.nav-wrapper a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    color: black;
}

#UserReg-form,
#tipForm,
.storeStats {
    padding-top: 70px;
}

#staffList,
#tipList {
    padding-top: 70px;
}


.collapsible-header {
    font-size: 33px;
}




.welcome {
 padding-bottom: 60px;
 color : white;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 88px;
 background-color: red;
 background-size: 40% auto;
 margin-top: 80px;


}



.chartOne {
    margin-top: 40px;
}

#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

.amcharts-export-menu-top-right {
    top: 10px;
    right: 0;
}

.amcharts-chart-div a {
    visibility: hidden;
}

#chartdiv2 {
    width: 100%;
    height: 500px;
    font-size: 11px;
}


#chartdiv3 {
    width       : 100%;
    height      : 500px;
    font-size   : 11px; 
    font-family:  'Josefin Sans', sans-serif;
}                                       
 


.dropdown-button {
    background-color: red;
}

.left-align {
    margin-top: 30px;
    margin-bottom: 0;
}

.center-align {
    margin-top: -60px;
    margin-bottom: 0px;

}

.hr {
    float: left;
    margin-top: -20px;
    width: 90%;
    border: 0;
    border-bottom: 2px dashed white;
    background: transparent;

}


.try {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
    border-top: 3px dashed red;
    border-bottom: 3px dashed red;
}

.avg {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 20px;
    border-top: 2px dashed red;
     border-bottom: 2px dashed red;
     font-size: 15px;
    text-align: center;
vertical-align: middle;
}

.topTitle{
    margin-top: -20px;
    padding-bottom: 20px;
    text-align: center;
vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
}

.topTitle p{
    margin-top: -10px;
    text-align: center;
vertical-align: middle;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}
.top{
    margin-top: -20px;
}

.five{
    margin-top: -20px;
    margin-bottom: 0px;
}



.storeStats {
    position: relative;
    height: 300%;
    width: 200%;
    overflow: hidden;
    background-color: red;
    padding-top: 20px;
    padding-bottom: 100px;

}

.storeStats:before { 
    content: '';
    position: absolute;
    left: 25%;
    width: 100%; 
    height: 250%; 
    background-color: rgb(255, 255, 255); /* fallback */
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.listWrap{
    counter-reset: my-counter;
   
}

.listWrap li {
    font-size: 30px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
     text-align: center;
vertical-align: middle;


}

.list:before {
    content: counter(my-counter);
    counter-increment: my-counter;
    font-size: 75px;
    color: white;
    margin: 5px;
}

.ssTitle {
    font-size: 16px;
    margin-top: 0px;
    color: white;
     font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
      text-align: center;
vertical-align: middle;
}




