<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">ServeStats</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
        <li class="active"><a href="#/tips">Tips <span class="sr-only">(current)</span></a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>


<form class="form-inline" on-click="addTipData()">
    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" ng-model="date" placeholder="Date">
    </div>
    <div class="form-group">
        <label>$</label>
        <input type="text" class="form-control" ng-model="amount"placeholder="Enter Amount">
    </div>
    <div class="form-group">
        <button type="submit" class="form-control" ng-click="addData()">Submit</button>
    </div>
</form>

<div id="grid" ui-grid="gridOpts" class="grid"></div>



 


















