<div class="tipsContainer">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper black">
                <a class="brand-logo" href="/#/">Login</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/#/userStats">Dashboard</a></li>
                    <li><a href="/#/storeStats">Store Stats</a></li>
                    <li class="active"><a href="/#/tips">Tips</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="tipsDash">
        <div class="row">
            <form id="tipForm" class="col s5">
                <div class="row">
                    <h4><i class="mdi-content-add"></i>Add New Tips</h4>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input type="date" ng-model="date" class="datepicker">
                        <label for="date">Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                        <input id="tipAmount" ng-model="tipAmount" type="text" class="validate green-text">
                        <label for="tipAmount">Tip Amount</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s2 offset-s10">
                        <button class="btn-floating btn-large waves-effect waves-light green" type="submit" name="action" ng-click="addTipData()">
                            <i class="mdi-navigation-arrow-forward"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div id="tipList" class="col s6 offset-s1">
                <div class="row">
                    <h4>Tips</h4>
                </div>
                <table class="hoverable">
                    <thead>
                        <tr>
                            <th data-field="first_name">Date</th>
                            <th data-field="last_name">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tip in tipsList track by $index | filter:search">
                            <td>{{tip.date}}</td>
                            <td>{{tip.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year
    format: 'mmmm d, yyyy'
});
</script>
